/webapp/dist
.idea
bin
*.iml
**/target
.DS_Store
**/strowgr.yaml
**/dependency-reduced-pom.xml
sidekick/haproxy-default-name.conf*
**/admin.yaml
**/*.versionsBackup
**/.classpath
**/.project
**/.settings

