version: '2'

services:

  consul:
    image: consul:v0.6.4
    container_name: consul
    command: consul agent -dev -ui -client 0.0.0.0 -data-dir /consul/data
    ports:
      - 8500:8500
    networks:
      - strowgr

  nsqlookupd:
    image: nsqio/nsq:v0.3.7
    container_name: nsqlookupd
    command: /nsqlookupd -http-address=nsqlookupd:4161 -tcp-address=nsqlookupd:4160 -http-address=nsqlookupd:4161
    ports:
      - 4160:4160
      - 4161:4161
    networks:
      - strowgr

  nsqd:
    image: nsqio/nsq:v0.3.7
    container_name: nsqd
    command: /nsqd --lookupd-tcp-address=nsqlookupd:4160 --broadcast-address=nsqd -http-address=nsqd:4151 -tcp-address=nsqd:4150
    ports:
      - 4150:4150
      - 4151:4151
    networks:
      - strowgr
    depends_on:
      - nsqlookupd

  nsqadmin:
    image: nsqio/nsq:v0.3.7
    container_name: nsqd-admin
    command: /nsqadmin --lookupd-http-address=nsqlookupd:4161
    ports:
      - 4171:4171
    depends_on:
      - nsqlookupd
      - nsqd

  sidekick-master:
    build: ./sidekick
    image: strowgr/sidekick:0.2.4
    container_name: sidekick-master
    ports:
      - 53000:53000
      # haproxy ports
      - 53001:53001
      - 53002:53002
      - 53003:53003
    environment:
      - LOOKUP_ADDR=nsqlookupd:4161
      - PRODUCER_ADDR=nsqd:4150
      - PRODUCER_REST_ADDR=http://nsqd:4151
      - CLUSTER_ID=local
      - HTTP_PORT=50000
      - HAP_HOME=/data
      - STATUS=master
      - ID=sidekick-master
    networks:
      - strowgr
    depends_on:
      - nsqlookupd
      - nsqd

  sidekick-slave:
    build: ./sidekick
    image: strowgr/sidekick:0.2.4
    container_name: sidekick-slave
    ports:
      - 54000:54000
      # haproxy ports
      - 54001:54001
      - 54002:54002
      - 54003:54003
    environment:
      - LOOKUP_ADDR=nsqlookupd:4161
      - PRODUCER_ADDR=nsqd:4150
      - PRODUCER_REST_ADDR=http://nsqd:4151
      - CLUSTER_ID=local
      - HTTP_PORT=50001
      - HAP_HOME=/data
      - STATUS=slave
      - ID=sidekick-slave
    networks:
      - strowgr
    depends_on:
      - nsqlookupd
      - nsqd

  webpage:
    image: nginx:1.11.8-alpine
    container_name: webpage
    ports:
      - 80:80
    networks:
      - strowgr
    volumes:
      - ./static/:/usr/share/nginx/html
      - ./static/nginx.conf:/etc/nginx/nginx.conf

networks:
  strowgr:
    driver: bridge

volumes:
  static: