<md-button class="md-fab md-primary md-mini" ng-click="showContext()">
    <!--md-icon class="material-icons" style="font-size: 22px">menu</md-icon-->
    <md-icon icon="zoom_in">zoom_in</md-icon>
    <md-tooltip>Voir le contexte associ&eacute;</md-tooltip>
</md-button>
<script type="text/ng-template" id="context-map/popup.html">
    <md-dialog style="width: 500px;">
        <md-dialog-content>
            <div layout-padding>
                <h4>Contexte {{title}}</h4>

                <div layout="row" ng-repeat="(key, value) in context" flex>
                    <span flex="20" style="text-align: right"><strong>{{key}}</strong></span>
                    <span flex style="padding-left: 10px">{{value}}</span>
                </div>
            </div>
        </md-dialog-content>
    </md-dialog>
</script>