<span ng-show="contextIsNotEmpty()">
    <md-icon icon="zoom_in"  style="cursor:pointer;" ng-click="showContext()">zoom_in</md-icon>
    <md-tooltip>Voir le contexte associ&eacute;</md-tooltip>
</span>
<script type="text/ng-template" id="context-map/popup.html">
    <md-dialog style="width: 500px;">
        <md-dialog-content>
            <div layout-padding>
                <h4>Contexte {{title}}</h4>

                <div layout="row" ng-repeat="(key, value) in context" flex>
                    <span flex="20" style="text-align: right"><strong>{{key}}</strong></span>
                    <span flex style="padding-left: 10px">{{value}}</span>
                </div>
            </div>
        </md-dialog-content>
    </md-dialog>
</script>