<style>

    #entrypoint-configuration-view #container {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    #entrypoint-configuration-view #container * {
        margin-top: 0;
        margin-bottom: 0;
    }

    #entrypoint-configuration-view #globalTitle,
    #entrypoint-configuration-view #frontendsTitle,
    #entrypoint-configuration-view #backendsTitle {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    #entrypoint-configuration-view #global,
    #entrypoint-configuration-view #frontendList,
    #entrypoint-configuration-view #backendList {
        margin-bottom: 16px;
    }

    #entrypoint-configuration-view #global-details {
        padding-left: 30px;
    }

    #entrypoint-configuration-view #frontendList .frontend {
        padding-left: 30px;
    }

    #entrypoint-configuration-view .entrypoint-component {
        border: solid 1px lightblue;
    }

    #entrypoint-configuration-view #global,
    #entrypoint-configuration-view #frontends,
    #entrypoint-configuration-view #backends {
        margin-bottom: 16px;
    }

    #entrypoint-configuration-view .backend-item {
        border-bottom: solid 1px lightblue;
        padding: 10px 3px 5px 0px;
        width: 100%;
    }

</style>
<div id="entrypoint-configuration-view" layout="row">
    <div id="container" ng-show="conf" layout="column" ng-cloak flex layout-xs>
        <div id="global" flex class="entrypoint-component">
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Configuration globale</h2>
                    <context-map title="Global" context="conf.context"></context-map>
                </div>
            </md-toolbar>
            <md-content style="padding:20px;">
                <div id="global-details" layout="column" style="padding:20px;">

                    <md-list>
                        <md-list-item class="md-1-line"><span style="margin-right:5px;">D&eacute;ploy&eacute; sur</span><strong>{{conf.haproxy}}</strong></md-list-item>
                        <md-list-item class="md-1-line"><span style="margin-right:5px;">User HAProxy </span><strong>{{conf.hapUser}}</strong></md-list-item>
                        <md-list-item class="md-1-line"><span style="margin-right:5px;">Syslog </span><strong>{{conf.syslogPort}}</strong></md-list-item>
                        <md-list-item class="md-2-line" layout="column">
                            <div layout="row">
                                <span>Template </span><template-display uri="conf.context.templateUri"></template-display><haproxy-generated conf="conf"></haproxy-generated>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </div>
        <div id="frontends" flex class="entrypoint-component">
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Frontends</h2>
                </div>
            </md-toolbar>
            <md-content style="padding:20px;">
                <div id="frontendList">
                    <div class="frontend" ng-repeat="frontend in conf.frontends | orderBy:'id' track by frontend.id"
                         layout="row"
                         layout-margin layout-align="start center">
                        <span><strong>{{frontend.id}}</strong></span>
                        <span><strong>{{frontend.port}}</strong></span>
                        <context-map title="Frontend {{frontend.id}}" context="frontend.context"></context-map>
                        <div flex id="test">
                            <a href="http://{{haproxyUri}}:{{frontend.port}}/stats">stats</a>
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
    <div id="container" layout="row" ng-show="conf" flex layout-xl>
        <div id="backends" flex class="entrypoint-component">
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Backends</h2>
                </div>
            </md-toolbar>
            <md-content style="padding:20px;">
                <div id="backendList" ng-repeat="backend in conf.backends  | orderBy:'id' track by backend.id" layout="column">
                    <div layout="row">
                        <div flex="25" layout="row">
                            <div flex><h3>{{backend.id}}<context-map title="Backend {{backend.id}}" context="backend.context"></context-map>
                            </h3></div>
                        </div>
                        <div flex="75">
                            <div layout="row"
                                 ng-repeat="server in backend.servers  | orderBy:'id' track by server.id">
                                <div class="backend-item" layout="row">
                                    <div flex="40" layout="column">
                                        <div flex>{{server.id}}</div>
                                        <div flex>
                                            <context-map title="Serveur {{server.id}}"
                                                         context="server.context"></context-map>
                                            <context-map title="Serveur {{server.id}}"
                                                         context="server.contextOverride"></context-map>
                                        </div>
                                    </div>
                                    <div flex="60" layout="column">
                                        <div flex>Host: <strong>{{server.hostname}}</strong></div>
                                        <div flex>IP: <strong>{{server.ip}}</strong></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</div>