<style>
    .blink {
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        50% { opacity: 0.0; }
    }
</style>

<script type="text/ng-template">

</script>

<md-tabs md-dynamic-height>
    <md-tab>
        <md-tab-label><span ng-class="{blink: currentBlink}">Configuration courante</span></md-tab-label>
        <md-tab-body>
            <entrypoint-configuration-view conf="current"></entrypoint-configuration-view>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label><span  ng-class="{blink: pendingBlink}">En attente</span></md-tab-label>
        <md-tab-body>
            <entrypoint-configuration-view conf="pending"></entrypoint-configuration-view>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label><span ng-class="{blink: commitBlink}">Commit en cours</span></md-tab-label>
        <md-tab-body>
            <entrypoint-configuration-view conf="committing"></entrypoint-configuration-view>
        </md-tab-body>
    </md-tab>
</md-tabs>

