<style>

    div.entrypoint-configuration-view {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    div.entrypoint-configuration-view * {
        margin-top: 0;
        margin-bottom: 0;
    }

    #globalTitle, #frontendsTitle, #backendsTitle  {
         margin-top: 6px;
         margin-bottom: 6px;
     }

    #global, #frontends, #backends {
        margin-bottom: 16px;
    }

    .entrypoint-configuration-view #global-details {
        padding-left: 30px;
    }

    .entrypoint-configuration-view #frontends .frontend {
        padding-left: 30px;
    }

    .entrypoint-configuration-view #backends .backend {
        padding-left: 30px;
    }

    .entrypoint-configuration-view #backends .server {
        padding-left: 30px;
    }

</style>

<div class="entrypoint-configuration-view" ng-show="conf" ng-cloak>
    <div id="global" layout="column">
        <div id="globalTitle" layout="row" layout-margin layout-align="start center">
            <h2>Configuration globale</h2>
            <context-map title="Global" context="conf.context"></context-map>
        </div>
        <div id="global-details" layout="column">
            <div layout="row" layout-margin>
                <span>D&eacute;ploy&eacute; sur <strong>{{conf.haproxy}}</strong></span>
                <span>User HAProxy <strong>{{conf.hapUser}}</strong></span>
                <span>Syslog <strong>{{conf.syslogPort}}</strong></span>
            </div>
            <div layout-margin>
                <span>URL du la conf <strong>{{conf.context.templateUri}}</strong></span>
            </div>
        </div>

    </div>
    <div id="frontends">
        <div id="frontendsTitle" layout-margin>
            <h2>Frontends</h2>
        </div>
        <div class="frontend" ng-repeat="frontend in conf.frontends | orderBy:'id' track by frontend.id" layout="row"
             layout-margin layout-align="start center">
            <span><strong>{{frontend.id}}</strong></span>
            <span><strong>{{frontend.port}}</strong></span>
            <context-map title="Frontend {{frontend.id}}" context="frontend.context"></context-map>
        </div>
    </div>
    <div id="backends">
        <div id="backendsTitle" layout-margin>
            <h2>Backends</h2>
        </div>

        <div class="backend" ng-repeat="backend in conf.backends  | orderBy:'id' track by backend.id" layout="column">
            <div id="backendTitle" layout="row" layout-margin layout-align="start center">
                <h3>{{backend.id}}</h3>
                <context-map title="Backend {{backend.id}}"context="backend.context"></context-map>
            </div>

            <div class="servers">
                <div class="server" ng-repeat="server in backend.servers  | orderBy:'id' track by server.id"
                     layout="row" layout-margin layout-align="start center">
                    <span><strong>{{server.id}}</strong></span>
                    <span>Host: <strong>{{server.hostname}}</strong></span>
                    <span>IP: <strong>{{server.ip}}</strong></span>
                    <span>Port: <strong>{{server.port}}</strong></span>
                    <context-map title="Serveur {{server.id}}"context="server.context"></context-map>
                </div>
            </div>
        </div>
    </div>
</div>