<div flex layout-align="center center">
    <md-icon icon="loop" style="cursor:pointer;" ng-click="showContext()">loop</md-icon>
    <md-tooltip>G&eacute;n&eacute;rer la configuration haproxy</md-tooltip>
</div>
<script type="text/ng-template" id="haproxy-generated/popup.html">
    <md-dialog style="width: 800px;">
        <md-dialog-content>
            <div layout layout-margin>
                <pre>{{haproxyGenerated}}</pre>
            </div>
        </md-dialog-content>
    </md-dialog>
</script>