<style type="text/css">
    #update-entrypoint-form {
        margin-top: 20px;
        margin-left: 15px;
        padding: 15px;
    }

    #update-entrypoint-form #frontends, #backends {
        padding-left: 40px;
    }

    #update-entrypoint-form md-input-container {
        margin-bottom: 0;
    }

    div.server {
        padding-left: 120px;
    }

    div.md-chip-content {
        font-size: 12px;
    }

    #update-entrypoint-form input {
        font-size: 12px;
    }

    #update-entrypoint-form md-input-container.hide-errors-spacer div.md-errors-spacer {
        display: none;
    }
</style>

<form id="update-entrypoint-form" name="updateEntrypointForm" ng-submit="updateEntrypoint()" flex
      ng-keydown="$event.keyCode == 13 && $event.preventDefault();">
    <div layout="row" flex>
        <md-input-container flex="10">
            <label>HAproxy cible</label>
            <input name="haproxy" ng-model="conf.haproxy" disabled/>
        </md-input-container>
        <md-input-container flex="10">
            <label>User haproxy (ex. hapwdia1)</label>
            <input name="hapUser" ng-model="conf.hapUser" required/>

            <div ng-messages="updateEntrypointForm.hapUser.$error">
                <div ng-message="required">Il faut indiquer un user pour le process haproxy</div>
            </div>
        </md-input-container>
        <md-input-container flex="10">
            <label>Application</label>
            <input name="application" ng-model="conf.context.application" disabled/>
        </md-input-container>
        <md-input-container flex="10">
            <label>Plateforme</label>
            <input name="platform" ng-model="conf.context.platform" disabled/>
        </md-input-container>
        <md-input-container flex>
            <label>URL gitlab de la conf haproxy</label>
            <input name="templateUri" ng-model="conf.context.templateUri" type="url" required/>

            <div ng-messages="updateEntrypointForm.templateUri.$error">
                <div ng-message="required">Il faut fournir une URL vers le template HAProxy</div>
                <div ng-message="url">La valeur renseign&eacutee n'est pas une URL valide</div>
            </div>
        </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
        <p class="md-body-2" style="padding-right: 20px;padding-left: 10px">Contexte global</p>
        <context-map-input context="conf.context" forbidden="forbiddenGlobalKeys" flex></context-map-input>
    </div>
    <div layout="row">
        <md-subheader class="md-primary">Frontends</md-subheader>
        <div layout layout-align="center center">
            <md-icon class="material-icons" ng-click="addFrontend()" style="cursor:pointer;">add</md-icon>
            <md-tooltip>Ajouter un frontend</md-tooltip>
        </div>
    </div>
    <div id="frontends" flex>
        <div ng-repeat="frontend in conf.frontends" layout="row" layout-align="start center">
            <div layout layout-align="center center">
                <md-icon class="material-icons" ng-click="removeFrontend(frontend)" style="cursor:pointer;">clear</md-icon>
                <md-tooltip>Supprimer le frontend</md-tooltip>
            </div>
            <ng-form name="frontendForm">
                <md-input-container>
                    <label>ID</label>
                    <input name="id" ng-model="frontend.id" required/>

                    <div ng-messages="frontendForm.id.$error">
                        <div ng-message="required">Il faut renseigner un id pour le frontend</div>
                    </div>
                </md-input-container>
            </ng-form>
            <p class="md-body-2" style="padding-right: 20px;padding-left: 10px;margin-left: 20px">Contexte =></p>
            <context-map-input context="frontend.context" forbidden="forbiddenFrontendKeys" flex></context-map-input>
        </div>
    </div>
    <div layout="row">
        <md-subheader class="md-primary">Backends</md-subheader>
        <div layout layout-align="center center">
            <md-icon class="material-icons" ng-click="addBackend()" style="cursor:pointer;">add</md-icon>
            <md-tooltip>Ajouter un backend</md-tooltip>
        </div>
    </div>
    <div id="backends" flex>
        <div ng-repeat="backend in conf.backends" layout="column" layout-align="start start">
            <div layout="row" layout-align="start center" flex>
                <div layout layout-align="center center">
                    <md-icon class="material-icons" style="cursor:pointer;" ng-click="removeBackend(backend)">clear</md-icon>
                    <md-tooltip>Supprimer le backend</md-tooltip>
                </div>
                <ng-form name="backendForm">
                    <md-input-container>
                        <label>ID</label>
                        <input name="id" ng-model="backend.id" required/>

                        <div ng-messages="backendForm.id.$error">
                            <div ng-message="required">Il faut renseigner un id pour le backend</div>
                        </div>
                    </md-input-container>
                </ng-form>
                <p class="md-body-2" style="padding-right: 20px;padding-left: 10px;margin-left: 20px">Contexte =></p>
                <context-map-input context="backend.context" forbidden="forbiddenBackendKeys" flex></context-map-input>
            </div>
            <div class="server" ng-repeat="server in backend.servers" layout="row" layout-align="start center"
                 flex="100" style="width: 100%">
                <md-input-container flex="10" class="hide-errors-spacer">
                    <label>Serveur</label>
                    <input name="id" ng-model="server.id" disabled/>
                </md-input-container>
                <md-input-container flex="10" class="hide-errors-spacer">
                    <label>Hostname</label>
                    <input name="hostname" ng-model="server.hostname" disabled/>
                </md-input-container>
                <md-input-container flex="10" class="hide-errors-spacer">
                    <label>IP</label>
                    <input name="ip" ng-model="server.ip" disabled/>
                </md-input-container>
                <md-input-container flex="10" class="hide-errors-spacer">
                    <label>Port</label>
                    <input name="port" ng-model="server.port" disabled/>
                </md-input-container>
                <context-map-input context="server.context" forbidden="forbiddenServerKeys" readonly="true"
                                   flex></context-map-input>
                <p class="md-body-2" style="padding-right: 20px;padding-left: 10px">Surcharge Contexte => </p>
                <context-map-input context="server.contextOverride" forbidden="forbiddenServerKeys"
                                   flex></context-map-input>
            </div>
        </div>
    </div>
    <div layout="row">
        <md-input-container>
            <input type="submit" value="Mettre &agrave; jour l'entrypoint"/>
        </md-input-container>
    </div>
</form>